.nav-header {
  width: 100%;
  background-color: rgb(255, 37, 121);
}
.signUp {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  color: #fff;
  width: 25%;
  margin: auto;
}
.signUp a {
  padding: 0.5rem 0.9rem;
  border-radius: 7px;
  border: 1px solid #fff;
  text-decoration: none;
  color: #fff;
}
